/*
  Author: Steven Varada Salazr
  Project: Resume Website
  File: homepage.scss
  Date: Dec.23-2021
  Description: This has all of the styling for the mobile and desktop homepage
               Both nav types are in media separte queries
*/

/* Laptop and Desktop Navigation */
@media all and (min-width: $laptop) {
    .aboutMeMobile {
        display: none;
    }

    .aboutMeDesktop {
        background-color: $bodyBackground;
        padding-top: 5vh;
    }
}

/* Mobile and Tablet Naviagation */
@media only screen and (max-width: $laptop) {
    .aboutMeDesktop {
        display: none;
    }

    .aboutMeMobile {
        background: 
            linear-gradient(rgba(0,0,0,0.6),
                            rgba(0,0,0,0.3))
                            ,url(../media/mobileBackground.jpg);
        background-size: cover;
        top: 5vh;
        height: 90vh;
        width: 100vw;
        color: $headingColor;

        .titleText {
            padding: 7vh 10vw 0vh 10vw;
        }

        h1 {
            font-size: 3rem;
            font-weight: 700;
        }

        h3 {
            color: $subHeadingColor;
            font-size: 1.25rem;
            font-weight: 300;
        }
        
        .heading {
            padding-top: 5vh;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            h2 {
                font-size: 1.5rem;
                font-weight: 500;
            }
            a {
                font-size: 1.5rem;
                font-weight: 400;
                color: $navTextColor;
                text-decoration: none;
            }
        }
    }

    .portfolioSection {
        height: 43vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        div {
            width: 50vw;
            height: 85%;
            margin: 3vw;
            background-color: white;
            border-radius: 10px;
        }
    }
}