/* Navigation bar for Laptop and Desktop */
@media all and (min-width: $laptop) {
    header {
        min-height: $navHeight;
        position: sticky;
        align-items: center;
        top: 0vh;
        display: flex;
        justify-content: space-between;
        .logo{
            text-transform: uppercase;
            font-size: $head2;
            padding-left: 2.5vw;
            a {
                text-decoration: none;
            }
        }

        .nav-toggle{
            display: none;
        }

        nav {
            ul {
                width: 100%;
                list-style: none;
                display: flex;
                justify-content: space-between;
                padding-right: 2.5vw;
            }

            li {
                padding: .5em;
                text-align: center;
            }
            
            a {
                color: $navTextColor;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: $letter-spacing;
                font-size: $head3;
                padding: .5em;
                &:hover, &:focus{
                    color: $navTextColorActive;
                    border-radius: 10px;
                    box-shadow:
                        0 0 10px $navTextColor;
                }
            }
        }
    }
}

/* Naviagation Bar for Mobile and Tablet */
@media only screen and (max-width: $laptop) {
    header {
        min-height: $navHeight;
        position: sticky;
        align-items: center;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .logo{
        padding-left: 2.5vw;
        text-transform: uppercase;
        font-size: $head3;

        a {
            text-decoration: none;
        }
    }

    .nav-toggle{
        display: none;
        &:checked ~ nav {
            transform: scale(1,1);

            a{
                opacity: 1;
                transition: opacity 250ms ease-in-out 275ms;
            }
        }
    }

    .nav-toggle-label {
        position: absolute;
        right: 0;
        margin-right: 5vw;
        height: 100%;
        display: flex;
        align-items: center;
        span,
        span::before, 
        span::after {
            background-color: $navTextColor;
            position: relative;
            height: 2px;
            width: 2em;
            display: block;
        } 
        span::before,
        span::after{
            content: "";
            position: absolute;
        }
        span::before{
            bottom: 7px;
        }
        span::after{
            top: 7px;
        }
    }

    nav {
        opacity: 1;
        position: absolute;
        top: $navHeight;
        width: 100%;
        transform: scale(1,0);
        transition: transform 400ms ease-in-out;
        transform-origin: top;
        
        ul {
            list-style: none;
            height: $mobileNavHeight;
            width: 100%;
            justify-content: space-around;
            flex-direction: column;
            display: flex;
        }
        li {
            text-align: center;
            flex-grow: 1;
        }
        a{
            opacity: 0;
            height: 100%;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: $letter-spacing;
            display: block;
            font-size: $head2;
            transition: opacity 150ms ease-in-out;
        }
    }
}


/* Highlight the current page */
.currentpage {
    a {
        color: $currentPage;
    }
}