/*
  Author: Steven Varada Salazr
  Project: Resume Website
  File: variables.scss
  Date: Dec.23-2021
  Description: This files holds all of the variables for all of the css files
*/

/* Colors */
$bodyBackgroundColor:rgb(255,255,255);
$footerbackgroundColor: #C6C6C6;
$buttonColor: #919191;

/* Nav colors */
$headerColor: rgba(0,0,0,0.05);
$navTextColor: black;
$navTextColorActive: #8B8B8B;
$menuTextColor: #8B8B8B;
$menuTextColorActive: #FFF;
$menuBackgroundColor: #002E4C;
$hamburgerBarColor: rgb(20, 20, 20);

$currentPage: #919191;

/* Distances */
$pIndent: 2.5%;
$letter-spacing: .5px;

$hamburgerBarWidth: 1.5rem;
$headerTopPadding: 2vh;
$headerHeight: 5vh;

/* Text */
$headingColor: #fff;
$subHeadingColor: #FFEACE;
$bodyText: 1rem;
$head1: 3.75rem;
$head2: 2.50rem;
$head3: 1.25rem;

/* Media Queries */
$desktop: 1200px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;