@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import "./variables";
@import "./nav";
@import "./homePage";

/*
  Author: Steven Varada Salazr
  Project: Resume Website
  File: styles.scss
  Date: Dec.23-2021
  Description: This is the general styling for all of the css files in this project
*/

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box; // Gets rid of border
    font-family: 'Poppins', sans-serif;;
}

body {
    background-color: $bodyBackgroundColor;
    overflow-x: hidden;
}

/* Sub Tags */
p {
    text-align: justify;
    font-size: 100%;
    text-indent: $pIndent;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Footer */
footer {
    background-color: $footerbackgroundColor;
}