@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import "./variables";
@import "./nav";
@import "./homePage";

/*
  Author: Steven Varada Salazr
  Project: Resume Website
  File: styles.scss
  Date: Dec.23-2021
  Description: This is the general styling for all of the css files in this project
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: transparent;
 }

/* Sub tags */
p {
    font-size: 100%;
    text-indent: $pIndent;
    text-align: justify;
    padding: 1rem;
}

a{
    text-decoration: none;
}

ul{
    list-style: none outside none;
}

/*footer */

footer {
    background-color: grey;
}


