@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import "./variables";
@import "./nav";
@import "./homePage";

/*
  Author: Steven Varada Salazr
  Project: Resume Website
  File: styles.scss
  Date: Dec.23-2021
  Description: General style for the website
    CSS afttribute ordering:
        1. Display
        2. Positioning
        3. Box-model
        4. Typography
        5. Manipulation
        6. Miscellaneous
*/

*, *:before, *::after  {
    margin: 0;
    padding: 0;
    z-index: $bodyZIndex;
    box-sizing: border-box;
    font-family: $fontFamilyPrimiary;
    font-size: $bodyText;
    line-height: $lineHeight;
}

body {
    background-color: $bodyBackgroundColor;
    color: $textColor;
    overflow-x: hidden;
}

/* Sub Tags */
p {
    text-align: justify;
    font-size: $bodyText;
    text-indent: $pIndent;
}

h1, h2 ,h3 {
    line-height: $headerLineHeight;
}

h1 {font-size: $head1;}

h2 {font-size: $head2;}

h3 {font-size: $head3;}

h4 {font-size: $head4;}

h5 {font-size: $head5;}

h6 {font-size: $head6;}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    text-transform: uppercase;
}


img {
    display: block;
    max-width: 100%;
}

/* Footer */
footer {
    background-color: $footerbackgroundColor;
}